a {
    text-decoration: none;
}

body {
    background: rgb(252, 214, 0);
}

.bgDiv {
    width: 50%;
    height: 400px;
    overflow: hidden;
}

.login {
    width: 45%;
    height: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.logoImg {
    display: block;
    margin: auto;
    width: 35%;
}

.username,
.pwd,
.forgetPwd {
    width: 50%;
    height: 50px;
    border-bottom: 1px solid #04c0fa;
    margin: 0 30px;
    margin: auto;
}

.userImg,
.pwdImg {
    width: 7%;
    float: left;
}

.center {
    width: 60%;
    height: 50%;
    border: none;
    outline: none;
    margin: auto;
}

.forgetPwd {
    border: none;
    line-height: 58px;
    color: #3e82bf;
    font-size: 16px;
}

.forgetLink {
    padding-left: 10px;
}

.i-forgetLink {
    padding-left: 60px;
}

.btn {
    width: 50%;
    height: 40px;
    background: #4892ff;
    border: 1px solid #ffffff;
    color: #fff;
    font-size: 15px;
    display: block;
    margin: auto;
}