img {
    display: block;
    margin: auto;
    width: 35%;
}

.img-circle {
    border-radius: 50%;
}

.center {
    text-align: center;
}

.i-center {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid #a09e9e;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

.img-icon {
    float: right;
    width: 3%;
}
