img {
    display: block;
    margin: auto;
    width: 25%;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    background: #ffffff;
}

body {
    background: rgb(248, 182, 0);
}


h2,
h3 {
    color: #ffffff;
}

.img-circle {
    border-radius: 50%;
}

.center {
    text-align: center;
}

.i-center {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid #a09e9e;
    padding: 10px;
}

.img-icon {
    float: right;
    width: 3%;
}